body {
    padding: 25px;
    background-color: blanchedalmond;
}

.tab-pane {
    padding: 10px;
}
#home {
    background-color: wheat;
}

#menu {
    background-color: green;
}

#dine {

}

#prices

#contact {
    background-color: blue;
    color: aliceblue;
}
